/* ViaBus */
.viabus-overlay {
    position: absolute; bottom: 20px; left: 10px; right: 10px;
    background: #1E2D53; color: white; padding: 15px; border-radius: 10px;
}
.bus-info { display: flex; align-items: center; gap: 15px; }
.bus-number { font-size: 30px; font-weight: bold; color: #F8E71C; border: 2px solid #F8E71C; padding: 5px 10px; border-radius: 50%; }
